select {
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 12px; /* rounded corners */
    border: 1px solid #acacac;

    text-align: left;
    padding-bottom: 2px;
    padding-top: 1px;

    outline: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

option:checked {
    background-color: #66aaff;
}

select:hover {
    border-color: #777;
}

select:focus {
    border-color: #000000;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}